-# = simple_form_for([commentable, Comment.new], local: true, html: { class: "comment-form form #{local_assigns[:class]}", data: { target: local_assigns[:target] } }) do |f|
-#   = f.input :body, placeholder: t('comment.form.placeholder.body'), html: { class: 'form-control' }, label: false, error: t('comment.form.error.body')
-#   = f.hidden_field :parent_id, value: local_assigns[:parent_id], html: { class: 'form-control display-none' }
-#   %div(class="comment-form__action")
-#     = button_tag t('comment.form.submit'), class: "btn btn--small btn--accent", data: {disable_with: "<i class='fad fa-spinner-third fa-spin'></i>"}, id: "SubmitAndVerify"

%div(class="comment-form")
  - if user_signed_in?
    = simple_form_for([commentable, Comment.new], local: true, html: { class: "commentForm #{local_assigns[:class]}", data: { target: local_assigns[:target]} }) do |f|
      %div(class="commentForm-user")
        = render partial: 'users/shared/avatar', locals: { user: current_user }
      %div(class="commentForm-body")
        %div(class="commentForm-input")
          = f.input :body, placeholder: t('comment.form.placeholder.body'), input_html: { class: 'commentForm-control textarea-js' }, label: false, error: t('comment.form.error.body')
          -# = f.hidden_field :parent_id, value: local_assigns[:parent_id], input_html: { class: 'commentForm-control display-none' }
          = f.hidden_field :parent_id, value: local_assigns[:parent_id], input_html: { class: 'commentForm-control display-none' }
          = f.hidden_field :comment_id, value: local_assigns[:comment_id], input_html: { class: 'commentForm-control display-none' }
        %div(class="commentForm-submit")
          = button_tag t('comment.form.submit'), class: "btn btn--small", data: {disable_with: "<i class='fad fa-spinner-third fa-spin'></i>"}, id: "SubmitAndVerify"

  - else
    Sign up to leave a comment