- if user_signed_in?
  - if current_user.likes?(comment)
    = link_to comment_like_path(comment), method: :delete, remote: true, class: 'comment-action dislike' do
      = icon "fas", "heart"
  - else
    = link_to comment_like_path(comment), method: :post, remote: true, class: 'comment-action like' do
      = icon "far", "heart"

- else
  = link_to new_user_registration_path, class: 'comment-action like' do
    = icon "far", "heart"