-# = render 'form', photo: @photo

%section.section
  %div.container.container--small
    = simple_form_for(@photo, html: { class: 'form photoNew-form' }) do |f|
      - if @photo.errors.any?
        %ul
          - @photo.errors.full_messages.each do |message|
            %li= message

      
      %div.photoNew-view
        %div.photoPicker-js
          %label.photoTarget-js
            %div.photoPreview-js
            = f.label :image

            %p.photoCache Cached: #{@photo.cached_image_data}
            
            = f.hidden_field :image, value: @photo.cached_image_data

            = f.input :image, class: 'photoInput'
          
          %a.disabled(data-action='remove_current_photo') remove image
          -# = f.label :image, 'Upload your file'

          -# = image_tag photo.image_url(:S300).to_s, 'data-src': photo.image_url, class: "lazy file-upload-preview photo-upload__view__photo", id: "NewPhoto"	    

          -# = f.file_field :image, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { upload_server: upload_server, preview_element: "NewPhoto", upload_result_element: "photo-image-upload-result" }	

          -# = f.hidden_field :image, value: photo.cached_image_data, id: "photo-image-upload-result"

        
        %div.photoNew-details
          = f.input :name, label: "Name"
          = f.input :description, placeholder: 'Tell everyone about your process and how you came up with this idea', label: "Description", input_html: { class: 'textarea-js' }
          = f.input :location, label: 'Place or City'
          = f.input :tag_list, input_html: { value: f.object.tag_list.join(',') }
          = f.submit "Upload", class: 'btn btn--primary btn--wide'