%section(class="user-panel")
  %div(class="container")
    %div(class="user")
      %div(class="user-avatar")
        -# = render partial: 'users/shared/avatar', locals: { user: user }
        = avatar(user)
      %div(class="user-body")
        %div(class="user-body__name")
          %h1(class="text text--h2")= name(user)
          %div(class="user-body__actions")
            
            - if user_signed_in? && (current_user == user)
              %div(class="user-body__action")
                = link_to edit_user_registration_path, class: 'btnAction' do
                  %span(class="btnAction-icon")= icon 'fas', 'pen'
                  %span(class="btnAction-text")= t('user.profile.action.edit')
            
            - if user_signed_in? && (current_user != user)
              %div(class="user-body__action" id="User#{user.id}")
                = render partial: "users/follows", locals: { user: user }
            
            - if user_signed_in? && (current_user != user) && user.message?
              %div(class="user-body__action")
                = link_to user, class: 'btnAction' do
                  = icon 'fas', 'envelope'

        - if user.about?
          %div(class="user-body__about")
            %p(class="text text--body")= simple_format(user.about)
        
        %div(class="user-body__details")
          - if user.location?
            %div(class="user-body__detail")
              = link_to "/s?utf8=✓&q=#{user.location.downcase}", class: 'link link--secondary' do
                %span= icon "fas", "map-marker-alt"
                %span= user.location
          - if user.website?
            %div(class="user-body__detail")
              = link_to "http://#{user.website}", class: 'link link--secondary', target: :_blank, rel: "nofollow" do
                %span= icon "fas", "link"
                %span= user.website