%section(class="user-panel")
  %div(class="container")
    %div(class="user")
      %div(class="user-avatar")
        = render partial: 'users/shared/avatar', locals: { user: user }
      %div(class="user-body")
        %div(class="user-body__name")
          %h1(class="text text--h2")= user_name(user)
          %div(class="user-body__actions")
            - if user_signed_in? && (current_user == user)
              %div(class="user-body__action")
                = link_to "Edit", edit_user_registration_path, class: 'btn btn--small'
            - if user_signed_in? && (current_user != user)
              %div(class="user-body__action")
                = render partial: "users/shared/follows", locals: { user: user }

        - if user.about?
          %div(class="user-body__about")
            %p(class="text text--body")= simple_format(user.about)
        
        %div(class="user-body__details")
          - if user.location?
            %div(class="user-body__detail")
              = link_to "/s?utf8=✓&q=#{user.location.downcase}", class: 'link link--secondary' do
                %span= icon "fas", "map-marker-alt"
                %span= user.location
          - if user.website?
            %div(class="user-body__detail")
              = link_to "http://#{user.website}", class: 'link link--secondary', target: :_blank, rel: "nofollow" do
                %span= icon "fas", "link"
                %span= user.website