%div(class="userMini")
  = link_to user, class: 'userMini-avatar' do
    = avatar(user, type: :small)
  %div(class="userMini-profile")
    = link_to user, class: 'userMini-name', title: name(user), rel: 'contact' do
      %span(class="display-name")= name(user)
    = link_to user, class: 'userMini-username', title: username(user), rel: 'contact' do
      %span(class="displya-name")= username(user)