-# user profile partial

%section.user-panel
  %div.container
    %div.user
      %div.user-avatar
        = avatar(user)
        -# Badges for users
        -# %div.avatar-badge
        -#   = link_to user, class: 'badge badge--awards', title: 'Awards 2021 Nominee' do
        -#     = icon 'fas', 'trophy'
      %div.user-body
        %div.user-body__name

          -# User's name
          %h1.text.text--h2= name(user)

          %div.user-body__actions
            
            - if user_signed_in? && (current_user == user)
              %div.user-body__action
                = link_to edit_user_registration_path, class: 'btn btn-iconic btn-action btn-size--small' do
                  %span.btn-icon= icon 'fas', 'pen'
                  %span.btn-content= t('user.profile.action.edit')
            
            - if user_signed_in? && (current_user != user)
              %div.user-body__action{ id: "User#{user.id}" }
                = render partial: 'users/follows', locals: { user: user }
              
              %div.user-body__action
                = mail_to user.email, class: 'btn btn-iconic btn-action btn-size--small', title: t('user.profile.action.email', user: name(user)) do
                  %span.btn-icon= icon 'fas', 'envelope'
        
        - if user.about?
          %div.user-body__about
            = simple_format(user.about, class: 'text text-paragraph text-size--body')

        %div.user-body__details
          - if user.location?
            %div.user-body__detail
              = link_to "/s?utf8=✓&q=#{user.location.downcase}", class: 'link link-iconic link-color--secondary' do
                %span.link-icon= icon 'fas', 'map-marker-alt'
                %span.link-content= user.location
          
          - if user.website?
            %div.user-body__detail
              = link_to "http://#{user.website}", class: 'link link-iconic link-color--secondary', target: :_blank, rel: 'nofollow' do
                %span.link-icon= icon 'fas', 'link'
                %span.link-content= user.website