-# - if @user.deleted_at?
-#   .section
-#     .container
-#       %p(class="text text--body") This user was deleted at #{@user.deleted_at}

-# - else
-#   .section
-#     .container
-#       %h1 Hi, #{@user.first_name}

= render partial: 'users/shared/user', locals: { user: @user }
= render partial: 'users/shared/nav', locals: { user: @user }

%div{:class => "section", :"data-controller" => "infinite-scroll"}
  %div(class="container container--media")
    %div{:class => "grid grid--photos", :"data-target" => "infinite-scroll.entries"}
      -# = turbo_stream_from "photos"
      -# = turbo_frame_tag "photos" do
      = render @photos, locals: { show_user: false }

    %div(class="pagination-container" id="PaginationContainer")
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)