%nav(id="GlobalNav" class="nav")
  %div(class="nav-container")
    %div(class="nav-left")
      = link_to root_path, class: 'nav-root' do
        artdion.
    %div(class="nav-center")
      = form_tag search_path, method: :get, class: "nav-search search", role: "search", enforce_utf8: true, autofocus: false, 'accept-charset': 'UTF-8' do
        %button(class="nav-search__button")
        %div(class="nav-search__input" role="combobox")
          = text_field_tag :q, params[:q], placeholder: t('nav.search.placeholder'), class: 'nav-search__control', type: "search", id: "searchControl", autocomplete: "off", tabindex: "1", autocapitalize: "none", spellcheck: "false", title: t('nav.search.title'), required: true, 'accept-charset': 'UTF-8'
    %div(class="nav-right")
      %ul(class="nav-menu")
        %li(class="nav-menu__item")
          = active_link_to t('nav.link.home'), root_path, title: t('nav.link.home'), active: :exact, class: "nav-link"
        %li(class="nav-menu__item")
          = active_link_to "Topics", tags_path, title: 'Topics', class: "nav-link"
        %li(class="nav-menu__item")
          = active_link_to t('nav.link.collection'), categories_path, title: t('nav.link.collection'), class: "nav-link"
        %li(class="nav-menu__item")
          = active_link_to "Talks", talks_path, title: t('nav.link.talks'), class: "nav-link"

      %div(class="nav-account")

        -# UPLOAD BUTTON
        %div(class="nav-account__upload")
          = active_link_to new_photo_path, title: t('nav.button.new_photo'), class: 'nav-btn nav-btn--upload' do
            %span= icon "far", "plus"
            %span= t('nav.button.new_photo')

        - if user_signed_in?
          -# NOTIFICATIONS
          %div(class="nav-account__notification dropdown-item" data-behavior="notifications")
            = button_tag(class: 'nav-action nav-action--notifications dropdown-trigger', 'data-behavior': "notifications-link") do
              = icon "fal", "bell"
              %span(class="nav-action__counter" data-behavior="unread-count")
            %div(class="nav-dropdown dropdown" tabindex="-1")
              %div(data-behavior="notification-group" class="notification-group")
          
          -# USER PROFILE
          %div(class="nav-account__profile dropdown-item")
            = button_tag(class: 'nav-action dropdown-trigger') do
              %span(class="avatar")
                = avatar(current_user, url_params: {w: 32, h: 32, auto: 'format', fit: 'crop', crop: 'faces', bg: 'fff', fm: 'webp'}, tag_options: {class: 'lazyload', alt: "Avatar of user #{name(current_user)}"})
            %div(class="nav-dropdown dropdown" tabindex="-1")
              %ul(class="dropdown-links")
                %li(class="dropdown-links__item")
                  = active_link_to t('nav.link.profile'), user_path(current_user), title: t('nav.link.profile'), class: 'dropdown-link', 'data-turbo-action': "replace"
                %li(class="dropdown-links__item")
                  = active_link_to t('nav.link.profile_settings'), edit_user_registration_path, title: t('nav.link.profile_settings'), class: 'dropdown-link'
                %li(class="dropdown-links__item dropdown-links__item--separator")
                  = active_link_to t('nav.link.profile_logout'), destroy_user_session_path, method: :delete, title: t('nav.link.profile_logout'), class: 'dropdown-link dropdown-link--logout'

        - else
          -# SIGN IN | SING UP -> BUTTONS
          %div(class="nav-account__login")
            = active_link_to t('nav.button.signin'), new_user_session_path, title: t('nav.button.signin'), class: 'nav-btn nav-btn--login'
            = active_link_to t('nav.button.signup'), new_user_registration_path, title: t('nav.button.signup'), class: 'nav-btn nav-btn--signup'
    
    -# MOBILE NAVIGATION
    %div(class="nav-mobile dropdown-item")
      = button_tag(class: 'nav-toggle dropdown-trigger') do
        = icon "far", "bars"