-# - unless user_signed_in?
-#   %div.intro.intro--centered
-#     %div.container.container--small
-#       %div.intro-container
-#         %div.intro-heading.text-center
-#           %div.intro-heading__heading
-#             %h1.text.text--h2 World-wide online gallery.
-#           %div.intro-heading__subheading
-#             %p.text.text--large Learn more about the world from anywhere.
-#           %div.intro-action-group
-#             %div.intro-action
-#               %p= link_to "Sign up free", new_user_registration_path, class: 'btn btn--accent'


-# Best photo of the day
- @photo_of_the_day = Photo.where.not(photo_of_the_day: nil).last
- if @photo_of_the_day
  %div.heroWelcome
    %div.heroWelcome-media
      = image_tag(@photo_of_the_day.image_url)
    %div.heroWelcome-container
      %div.container
        %div.heroWelcome-grid
          %div.heroWelcome-grid__col.heroWelcome-owner
            %p #{@photo_of_the_day.name} by #{name(@photo_of_the_day.user)}
          %div.heroWelcome-grid__col.heroWelcome-legal
            %p Read more about the Artdion License
          %div.heroWelcome-grid__col.heroWelcome-ads
            %p Sponsored


- unless user_signed_in?
  %section.section
    %div.container
      %h2.text.text--h2 Creative tools, inspiration, and a place for you to be you.
      %div.grid.grid--1-3
        %div.col
          %p Create - Photo and video tools for creators, by creators.
        %div.col
          %p Discover - A place to discover new perspectives and share your own.
        %div.col
          %p Connect - Freedom from follower counts, comments, and ads.


%section{:class => "section", :"data-controller" => "infinite-scroll"}
  %div.container.container--media
    %div{:class => "grid--photos", :"data-target" => "infinite-scroll.entries"}
      = render @photos

    %div.pagination-container#PaginationContainer
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)