%section(class="intro")
  %div(class="container")
    %div(class="intro-heading")
      %div(class="intro-heading__heading")
        %h1(class="text text--h2")= @classification.name
      %div(class="intro-heading__subheading")
        %h2(class="text text--large")= @classification.description
      %div(class="intro-heading__stats")
        %p(class="text text--body text-color-secondary")
          = t('classification.show.subheading', photos_count: "#{formatted_number(93284930)} " + t('classification.show.photos_count', count: @classification.photos_count), users_count: "#{formatted_number(@classification.users_count)} " + t('classification.show.users_count', count: @classification.users_count))

%div{:class => "section", :"data-controller" => "infinite-scroll"}
  %div(class="container container--media")
    %div{:class => "grid grid--photos", :"data-target" => "infinite-scroll.entries"}
      = render @photos
    
    %div(class="pagination-container" id="PaginationContainer")
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)