= link_to notification.notifiable.commentable, class: 'notification talk-notification--replied' do
  %div.notification-actor
    = render partial: 'users/shared/avatar', locals: { user: notification.actor }
  %div.notification-message
    %div.notification-reason
      %p.text.text--small.text-color-secondary
        %span.fw-medium.text-color-main= user_name(notification.actor)
        liked your comment.
    %div.notification-stats
      %div.notification-stats__item
        %p.text.text--minor.text-color-secondary= icon 'far', 'heart'
      %div.notification-stats__item
        %p.text.text--minor.text-color-secondary= time_ago_in_words(notification.created_at)
    %div.notification-content
      %p.text.text--small= notification.notifiable.body