- if user_signed_in?
  - if current_user.likes?(photo)
    = link_to photo_like_path(photo), method: :delete, remote: true, class: "btn btn--small btn--card btn--card--liked" do
      %span(class="btnAction-icon")= icon "fas", "heart"
  - else
    = link_to photo_like_path(photo), method: :post, remote: true, class: "btn btn--small btn--card btn--card--like" do
      %span(class="btnAction-icon")= icon "fas", "heart"

- else
  = link_to new_user_registration_path, class: "btn btn--small btn--card btn--card--like" do
    %span(class="btnAction-icon")= icon "fas", "heart"