- if user_signed_in?
  - if current_user.likes?(photo)
    = link_to photo_like_path(photo), method: :delete, remote: true, class: "btn btn-size--small btn-action btn-action--liked" do
      %span.btnAction-icon= icon "fas", "heart"
  - else
    = link_to photo_like_path(photo), method: :post, remote: true, class: "btn btn-size--small btn-action btn-action--like" do
      %span.btnAction-icon= icon "far", "heart"

- else
  = link_to new_user_session_path, class: "btn btn-size--small btn-action btn-action--like" do
    %span.btnAction-icon= icon "far", "heart"