- if user_signed_in?
  - if current_user.likes?(photo)
    = link_to photo_like_path(photo), method: :delete, remote: true, class: "photo-user__action photo-user__action--dislike" do
      = icon "fas", "heart"
  - else
    = link_to photo_like_path(photo), method: :post, remote: true, class: "photo-user__action photo-user__action--like" do
      = icon "fal", "heart"

- else
  = link_to new_user_session_path, class: "photo-user__action photo-user__action--like" do
    = icon "fal", "heart"