- show_info = true if show_info == nil || show_info != false
- show_user = true if show_user == nil || show_user != false


%div(class="col")
  %div(class="photoCard" itemListElement="itemListElement" itemscope itemtype="http://schema.org/ListItem" id="#{dom_id(photo)}")
    %meta{:content => "#{photo.name}", :itemprop => "name"}/
    %meta{:content => "#{photo_counter}", :itemprop => "position"}/
    %meta{:content => "#{photo_url(photo)}", :itemprop => "url"}/

    = link_to photo, class: 'photoCard-media' do
      = photo(photo, type = :card)

    
    - if show_info
      %div(class="photoCard-info")
        %div(class="photoCard-info__container")
          %div(class="photoCard-name")
            = link_to photo.name, photo, class: 'photoCard-link photoCard-link--name'
          - if show_user
            %div(class="photoCard-user")
              = link_to photo.user, class: 'photoCard-link photoCard-link--user' do
                %span(class="display-nane")= name(photo.user)