- if user_signed_in?
  - if current_user.likes?(photo)
    = link_to photo_like_path(photo), method: :delete, remote: true, class: "photoCard-action" do
      %span(class="photoCard-action-dislike")= icon "fas", "heart"
  - else
    = link_to photo_like_path(photo), method: :post, remote: true, class: "photoCard-action" do
      %span(class="photoCard-action-like")= icon "far", "heart"

- else
  = link_to new_user_registration_path, class: "photoCard-action" do
    %span(class="photoCard-action-like")= icon "far", "heart"