%section(class="photoView" id="Photo#{@photo.id}")
  %div(class="photoView-container")
    %div(class="photoView-media")
      = photo_view(@photo)

%section(class="photoNav")
  %div(class="container")
    %div(class="photoNav-container")
      %div(class="photoNav-left")
        = render partial: 'users/shared/user-mini', locals: { user: @photo.user }
      %div(class="photoNav-right") 
        -# Follow | Like | Buy | Share
        %div(class="photoNav-action")
          = button_tag class: 'btnAction' do
            = icon "fas", "user-plus"
        %div(class="photoNav-action")
          = button_tag class: 'btnAction' do
            = icon "fas", "heart"
        %div(class="photoNav-action")
          = button_tag class: 'btnAction' do
            = icon "fas", "share"
        %div(class="photoNav-action")
          = button_tag class: 'btnAction' do
            %span(class="btnAction-icon")= icon "fas", "download"
            %span(class="btnAction-text") Download
        %div(class="photoNav-action")
          = button_tag class: 'btnAction' do
            Buy

%section(class="photoAbout")
  %div(class="container")
    %div(class="photoAbout-container")
      %div(class="photoAbout-name")
        %h1(class="text text--h4")= @photo.name
      %div(class="photoAbout-description")
        = simple_format(@photo.description, class: 'text text--paragraph text--small')
      %div(class="photoAbout-details")
        %div(class="photoAbout-detail")
          %span(class="photoAbout-detail__icon")= icon "fas", "calendar"
          %span(class="photoAbout-detail__text") 2020
        %div(class="photoAbout-detail")
          %span(class="photoAbout-detail__icon")= icon "fas", "ruler-combined"
          %span(class="photoAbout-detail__text") 2000 cm x 4500 cm
        %div(class="photoAbout-detail")
          %span(class="photoAbout-detail__icon")= icon "fas", "map-marker-alt"
          %span(class="photoAbout-detail__text")= @photo.location

%section(class="photoRelated")
  %div(class="photoHeading")
    %div(class="container")
      %h4(class="text text--large") Related photos
  %div(class="container")
    %div(class="grid grid--photosRelated")
      = render partial: 'photos/photo', collection: @related

%section(class="photoTags")
  %div(class="photoHeading")
    %div(class="container")
      %h4(class="text text--large") Related tags
  %div(class="container")
    %div(class="tags")
      = render partial: 'tags/tag', collection: @tags


-# %section(class="photoDetails")
-#   %div(class="container")
-#     -# = turbo_stream_from 'comments'
    
-#     -# = turbo_frame_tag 'comment_form' do
-#     %div(class="comments-form")
-#       = render partial: 'comments/form', locals: { commentable: @photo }
    
-#     -# = turbo_frame_tag 'comments' do


-# %section(class="comments-section")
-#   %div(class="container")

-#     %div(class="comments")
-#       = render @photo.comments.default_order.where(parent_id: nil), max_nesting: 2