%section(class="photoUser")
  %div(class="container")
    %div(class="photoUser-container")
      %div(class="photoUser-left")
      %div(class="photoUser-right")

%section(class="photoView")
  %div(class="photoView-container")
    %div(class="photoView-media")
      = photo(@photo)


%section.photoNav
  %div.photoNav-container
    %div.photoNav-left
      = render partial: 'users/shared/user-mini', locals: { user: @photo.user }
    %div.photoNav-right
      %div.photoNav-options
        %div.photoNav-option(id="Photo#{@photo.id}")
          = render partial: 'photos/likes', locals: { photo: @photo }
        %div.photoNav-option
          = link_to @photo.talk, title: @photo.talk.name, class: 'btnAction' do
            %span.btnAction-icon= icon 'fad', 'comments-alt'
            %span.btnAction-content= formatted_number(@photo.talk.comments_count)

%section.photoAbout
  %div.container.container--tight
    %div.photoAbout-heading.text-center
      %div.photoAbout-heading__heading
        %h1.text.text--h2= @photo.name
      %div.photoAbout-heading__share
        %ul.photoAbout-shareOptions
          %li Share
          %li —
          %li Twitter
          %li Facebook
          %li VK
          %li Copy link

    %div.photoAbout-description
      %p.text.text--body.text-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis quasi fugit ipsam saepe velit minus nostrum vero dignissimos! Omnis ducimus veritatis blanditiis officia atque placeat illo cupiditate cum animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorem excepturi molestiae enim ea cum quasi architecto sed ipsa at, doloribus, ullam odit laudantium impedit vel iste sunt qui recusandae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta blanditiis iste provident exercitationem tenetur ipsam officia sapiente repellat necessitatibus dolore? Optio tenetur suscipit at obcaecati dolorum porro nostrum provident dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti impedit, voluptatum fugit iure iste architecto, eligendi aspernatur recusandae odio ullam natus commodi! Nemo quos soluta magnam, facilis sit ipsa eum!
      %p.text.text--body.text-paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corporis quasi fugit ipsam saepe velit minus nostrum vero dignissimos! Omnis ducimus veritatis blanditiis officia atque placeat illo cupiditate cum animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorem excepturi molestiae enim ea cum quasi architecto sed ipsa at, doloribus, ullam odit laudantium impedit vel iste sunt qui recusandae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta blanditiis iste provident exercitationem tenetur ipsam officia sapiente repellat necessitatibus dolore? Optio tenetur suscipit at obcaecati dolorum porro nostrum provident dicta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti impedit, voluptatum fugit iure iste architecto, eligendi aspernatur recusandae odio ullam natus commodi! Nemo quos soluta magnam, facilis sit ipsa eum!

    %ul.photoAbout-details
      %li location
      %li size
      %li year
      %li created at


- if @related.any?
  %section(class="photoRelated")
    %div(class="photoHeading")
      %div(class="container")
        %h4(class="text text--large fw-medium") Related photos
    %div(class="container")
      %div(class="grid--photosRelated")
        = render partial: 'photos/photo', collection: @related, locals: { show_info: false }


- if @tags.any?
  %section(class="photoTags")
    %div(class="photoHeading")
      %div(class="container")
        %h4(class="text text--large fw-medium") Related tags
    %div(class="container")
      %div(class="tags")
        = render partial: 'tags/tag', collection: @tags