%div(class="col")
  -# - @photo = Photo.tagged_with(category.categories, any: true).includes([:category_taggings, :categories]).last
  - if category.first_photo
    = image_tag(category.first_photo.image_url, class: 'lazyload', cached: true)

  = link_to category, class: 'category' do
    %div(class="category-cover")
      -# crop photo
      -# = photo(category.photos.first)
    %div(class="category-heading")
      %div(class="category-heading__heading")
        %p(class="text text--h4")= category.name
        %p Items #{category.children_count}
        %ul.tags
          = render partial: 'tags/tag', collection: category.category_counts.take(3)


      - if category.description?
        %div(class="category-heading__subheading")
          %p(class="text text--body")= category.description.truncate(128)
      %p(class="text text--body fw-medium category-heading__stats")
        %span(class="text-color-secondary")= icon "far", "image-polaroid"
        -# %span #{formatted_number(category.photos_count)} #{t('category.photos', count: category.photos_count)}