- if user_signed_in?
  - if current_user.follows?(category)
    = link_to category_follow_path(category), method: :delete, remote: true, class: 'btnAction' do
      = icon 'fas', 'user-check'
  - else
    = link_to category_follow_path(category), method: :post, remote: true, class: 'btnAction' do
      = icon 'fas', 'user-plus'
- else
  = link_to new_user_registration_path, class: 'btn btn--small' do
    = icon 'fas', 'user-plus'