%section(class="intro")
  %div(class="container")
    %div(class="intro-heading")
      %div(class="intro-heading__heading")
        %h1(class="text text--h2")= @category.name
      %div(class="intro-heading__subheading")
        %h2(class="text text--large")= @category.description
      %div(id="Category#{@category.id}")
        = render partial: "categories/follows", locals: { category: @category }

%div{:class => "section", :"data-controller" => "infinite-scroll"}
  %div(class="container container--media")
    %div{:class => "grid grid--photos", :"data-target" => "infinite-scroll.entries"}
      = render partial: 'photos/photo', collection: @photos
    
    %div(class="pagination-container" id="PaginationContainer")
      %div{:"data-target" => "infinite-scroll.pagination"}
        != pagy_nav(@pagy)