!!!
%html
  %head
    = render partial: 'shared/head'
  %body(class="app app--#{controller.action_name}-#{controller.controller_name}" id="container")
    = render partial: 'shared/nav'
    
    = content_tag :div, class: "app-body", id: "AppContainer" do
      = yield