!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Art
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = link_to "Home", root_path
    %br/
    %br/
    - if user_signed_in?
      Hello, #{link_to current_user.first_name, current_user}
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path
