= content_for :title, t('user.settings.title.close')

%section(class="section settings-section")
  %div(class="container container--small")
    %div(class="settings-grid")
      
      %div(class="settings-grid__nav")
        = render partial: 'users/registrations/shared/nav'

      %div(class="settings-grid__panel")
        %div(class="settings-heading")
          %h1(class="text text--h4")= yield(:title) 

        %div(class="settings-body")
            
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form', method: :put }) do |f|
            
            %div(class="form-block")
              %div(class="form-set")
                %div(class="form-row")
                  %p(class="text text--large") 
                    %span(class="text-color-warning fw-bold")= t('user.settings.close.form.heading.warning_word')
                    = t('user.settings.close.form.heading.warning')
                
                %div(class="form-row")
                  = f.input :current_password, required: true, input_html: { autocomplete: "current-password" }, label: t('user.settings.close.form.label.current_password')
                
                %div(class="form-row")
                  = link_to t('user.settings.close.form.submit'), registration_path(resource_name), data: { confirm: t('user.settings.close.form.confirmation') }, method: :delete, class: 'btn btn--delete'

                %div(class="form-row")
                  %p(class="text text--body fw-medium text-paragraph")= t('user.settings.close.form.caption.heading')
                  %p(class="text text--body text-paragraph")= t('user.settings.close.form.caption.paragraph_1')
                  %p(class="text text--body text-paragraph")= t('user.settings.close.form.caption.paragraph_2_html', paragraph_2_link: link_to(t('user.settings.close.form.caption.paragraph_2_link'), current_user, class: 'link link--secondary'))