= content_for :title, t('user.settings.title.email')

%section(class="section settings-section")
  %div(class="container container--small")
    %div(class="settings-grid")
      
      %div(class="settings-grid__nav")
        = render partial: 'users/registrations/shared/nav'

      %div(class="settings-grid__panel")
        %div(class="settings-panel")
          %div(class="settings-heading")
            %h1(class="text text--h4")= yield(:title) 
          
          %div(class="settings-body")
            
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form', method: :put }) do |f|
              
              %div(class="form-block")
                %div(class="form-heading")
                  %p(class="text text--large")= t('user.settings.email.form.heading.intro')
                %div(class="form-set")
                  = f.label :email_announcements, class: 'form-checkbox' do
                    = f.check_box :email_announcements, as: :boolean, checked_value: true, unchecked_value: false
                    %span.labelText= t('user.settings.email.form.label.announcements')
                %div(class="form-set")
                  = f.label :email_updates, class: 'form-checkbox' do
                    = f.check_box :email_updates, as: :boolean, checked_value: true, unchecked_value: false
                    %span.labelText= t('user.settings.email.form.label.updates')
                %div(class="form-set")
                  = f.label :email_notifications, class: 'form-checkbox' do
                    = f.check_box :email_notifications, as: :boolean, checked_value: true, unchecked_value: false
                    %span.labelText= t('user.settings.email.form.label.notifications')
                %div(class="form-set")
                  = f.label :email_recommendations, class: 'form-checkbox' do
                    = f.check_box :email_recommendations, as: :boolean, checked_value: true, unchecked_value: false
                    %span.labelText= t('user.settings.email.form.label.recommendations')
                %div(class="form-set")
                  = f.label :email_tips, class: 'form-checkbox' do
                    = f.check_box :email_tips, as: :boolean, checked_value: true, unchecked_value: false
                    %span.labelText= t('user.settings.email.form.label.tips')
              
              %div(class="form-block")
                %div(class="form-set")
                  %div(class="form-row")
                    -# = f.submit
                    = button_tag t('user.settings.email.form.submit'), class: "btn btn--wide", data: {disable_with: "<i class='fad fa-spinner-third fa-spin'></i>"}